doctype html  
html(lang='en')  
 head
   title Welcome page
 body
   h1 Register or Login
   a(class='button' href='friendfinder/login') Login
   br
   br
   a(class='button' href='friendfinder/register') Register
